<div class="container">
    <span class="col">
        <a href="https://www.facebook.com/ludwingsito.barriguita" target="_blank">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.linkedin.com/in/ludwing-barriga-6040b9250/" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/Ludwing08">
            <i class="fa-brands fa-square-github"></i>
        </a>
    </span>

    <img src="./assets/img/developer.png" alt="developer">

    <app-habilidades id="circulo" *ngFor="let habilidad of habilidades; let i = index"
        [progress]="habilidad"></app-habilidades>

        <img src="https://img.icons8.com/color/96/null/html-5--v1.png" style="width: 48px; height: 48px;"/>   
        <img src="https://img.icons8.com/color/48/null/css3.png"/>     
        <img src="https://img.icons8.com/color/48/null/javascript--v1.png"/>
        <img src="https://img.icons8.com/color/48/null/java-coffee-cup-logo--v1.png"/>
        <img src="https://img.icons8.com/dusk/64/null/php-logo.png"/>
        <img src="https://img.icons8.com/fluency/48/null/typescript--v1.png"/>
        <img src="https://img.icons8.com/fluency/48/null/angularjs.png"/>
        <img src="https://img.icons8.com/fluency/48/null/node-js.png"/>
        <img src="https://img.icons8.com/color/48/null/mysql-logo.png"/>
        <img src="https://img.icons8.com/color/48/null/microsoft-sql-server.png"/>
        <img src="https://img.icons8.com/color/48/null/mongodb.png"/>
        <img src="https://img.icons8.com/plasticine/100/null/oracle-pl-sql--v3.png"/>
        <img src="https://img.icons8.com/ios/50/null/database--v1.png"/>
        <img src="https://img.icons8.com/color/48/null/firebase.png"/>
        <img src="https://img.icons8.com/fluency/48/000000/laravel.png"/>
        <img src="https://img.icons8.com/color/48/null/figma--v1.png"/>
        <img src="https://img.icons8.com/fluency/48/null/facebook-new.png"/>
        <img src="https://img.icons8.com/color/48/null/whatsapp--v1.png"/>
        <img src="https://img.icons8.com/sf-regular/48/null/github.png"/>
        <img src="https://img.icons8.com/color/48/null/linkedin-circled--v1.png"/>
        <img src="https://img.icons8.com/fluency/48/null/google-plus-circled.png"/>
        
        <a href="#" data-bs-toggle="tooltip" data-bs-title="ETL">
        <img src="https://img.icons8.com/external-outline-black-m-oki-orlando/32/null/external-etl-data-warehouse-outline-black-m-oki-orlando.png"/>
         </a>       

         <img src="https://img.icons8.com/external-flat-circle-design-circle/100/null/external-Developer-data-science-flat-circle-design-circle.png"/>
</div>

<circle-progress
  [percent]="90"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
  [subtitle]="'PHP'"
></circle-progress>

<circle-progress
  [percent]="70"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
  [subtitle]="'ANGULAR'"
></circle-progress>