<body>
    <div class="container">
        <section class="grid mb-5">

            <div class="logo">
                <div class="card logo bg-transparent me-3 mb-3">
                    <div class="card-body logo bg-transparent">
                        <img src="./assets/img/uta.png" alt="" class="card-img-top bg-transparent">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="titulo bg-transparent">
                        <h2 class="card-title bg-transparent ">Universidad Técnica de Ambato</h2>
                        <div class="card-subtitle bg-transparent">Ingeniería de Software</div>
                    </div>
                    <div class="fecha bg-transparent">2017-2023</div>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <ul>
                            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores quas necessitatibus
                                velit veritatis vel dolorem, iusto numquam architecto impedit, nesciunt rerum at
                                consequuntur repudiandae? Unde quaerat iste doloremque. Mollitia, vel.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quod commodi culpa
                                adipisci, quaerat amet ipsa corporis ipsam sequi minus veniam. Deleniti tenetur,
                                necessitatibus animi enim dolores similique consequatur ut.</li>
                        </ul>

                        <a href="https://fisei.uta.edu.ec/v4.0/" class="card-link">Sitio web</a>
                    </div>
                </div>
            </div>

        </section>
        <!--  -->


        <h2 class="cert">Certificados</h2>

        <section class="certificados">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <a href="https://www.udemy.com/certificate/UC-0656c7b7-51aa-49a4-971b-3be4fc662a0b/" target="_blank"
                        data-bs-toggle="tooltip" data-bs-title="Certificado">
                        <div class="card certificado">
                            <img src="./assets/img/angular.png" class="card-img-top curso" alt="..."
                                style="background-color: #087E8B;">
                            <div class="card-body curso p-0">
                                <h2 class="card-title curso bg-transparent">Angular</h2>
                                <div class="card-subtitle curso bg-transparent">Global Mentoring</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="https://www.udemy.com/certificate/UC-0656c7b7-51aa-49a4-971b-3be4fc662a0b/" target="_blank"
                        data-bs-toggle="tooltip" data-bs-title="Certificado">
                        <div class="card certificado">
                            <div class="fondo" style="background-color: #f9d99a; text-align: center; padding:3px 0px;">
                                <img src="./assets/img/descarga.png" class="card-img-top curso" alt="..."
                                    style="background-color: #f9d99a; width: 40%;">
                            </div>
                            <div class="card-body curso p-0">
                                <h2 class="card-title curso bg-transparent">Curso de Desarrollo de Apps Móviles</h2>
                                <div class="card-subtitle curso bg-transparent">Universidad Complutense de Madrid</div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.udemy.com/certificate/UC-0656c7b7-51aa-49a4-971b-3be4fc662a0b/" target="_blank"
                        data-bs-toggle="tooltip" data-bs-title="Certificado">
                        <div class="card certificado">
                            <div class="fondo" style="background-color: #add5fa; text-align: center; padding:3px 0px;">
                                <img src="./assets/img/descarga.png" class="card-img-top curso" alt="..."
                                    style="background-color: #add5fa; width: 40%;">
                            </div>
                            <div class="card-body curso p-0">
                                <h2 class="card-title curso bg-transparent">Desarrollo Web: HTML y CSS</h2>
                                <div class="card-subtitle curso bg-transparent">Universidad de Alicante para Google
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>

        </section>
    </div>
</body>