*{
    background-color: aliceblue;
}

.container{  
    padding: 20px 10px;    
    background-color: aliceblue;
    /* background: rgb(143,93,236); */
    /* background: linear-gradient(90deg, rgba(143,93,236,1) 18%, rgba(101,92,240,1) 42%, rgba(47,96,249,1) 72%);          */
}

.nav-item a{
    color: #13315C;
    font-size: 19px;    
    padding: 20px;
}

.nav-item a:hover{    
    background-color: #087E8B;
    color: white;
    font-weight: bold;
}

.nav-item:active{
    font-weight: bold;
}

.nav-item.selected{
    font-weight: bold;
}

.btn , .btn:hover{    
    border-style: none;
}
.nav-item.cv, .nav-link.active.cv, .nav-item.cv a:hover{    
    background-color: #FF5A5F;
    color: white;
    font-weight: bold;
}

