<body>
    <div class="container">
        <section class="informacion-general">
            <div class="img">
                <img src="./assets/img/gestion.png" alt="gestion proyectos" class="imagen">

            </div>

            <div class="descripcion">
                <h2>Proyectos</h2>
                <div class="texto">
                    Me gusta realizar diferentes tipos de proyectos,últimamente me he centrado en Frontend,
                    utilizando tecnologías actuales que me permitan mejorar mis habilidades.                
                </div>
            </div>
        </section>


        <section class="cards-proyectos">

            <div class="cards">
                <a href="https://github.com/Ludwing08/control-clientes" target="_blank">
                    <div class="card card-1 bg-transparent">
                        <div class="card__icon bg-transparent"><i class="fas fa-bolt bg-transparent"></i>
                            Aplicación construida en Angular CLI con el uso de servicios y firestore</div>
                        <p class="card__exit bg-transparent"><i class="fas fa-solid fa-arrow-right bg-transparent"></i>
                        </p>
                        <h2 class="card__title bg-transparent">Control Clientes</h2>
                        <div class="card__apply bg-transparent">
                            <a class="card__link bg-transparent" href="#">Creado: 2022 - Dic - 08</a>
                            <div class="herramientas bg-transparent">
                            <img src="https://img.icons8.com/fluency/48/null/angularjs.png"
                                style="width: 48px; height: 48px;" data-bs-toggle="tooltip" data-bs-title="ANGULAR JS"
                                class="bg-transparent" />
                            <img src="https://img.icons8.com/color/48/null/firebase.png"
                                style="width: 48px; height: 48px;" data-bs-toggle="tooltip" data-bs-title="FIREBASE"
                                class="bg-transparent" />
                            </div>
                        </div>
                    </div>
                </a>

                <a href="https://github.com/Ludwing08/reconomiento" target="_blank">
                    <div class="card card-1 bg-transparent">
                        <div class="card__icon bg-transparent"><i class="fas fa-bolt bg-transparent"></i>
                            Sitio web que reconoce equipos de seguridad desarrollada</div>
                        <p class="card__exit bg-transparent"><i class="fas fa-solid fa-arrow-right bg-transparent"></i>
                        </p>
                        <h2 class="card__title bg-transparent">Reconocimiento</h2>
                        <p class="card__apply bg-transparent">
                            <a class="card__link bg-transparent" href="#">Creado: 2023- Ene - 25</a>
                            <img src="https://img.icons8.com/color/96/null/html-5--v1.png" class="bg-transparent"
                                style="width: 48px; height: 48px;" data-bs-toggle="tooltip" data-bs-title="HTML 5" />
                            <img src="https://img.icons8.com/color/48/null/css3.png" class="bg-transparent"
                                style="width: 48px; height: 48px;" data-bs-toggle="tooltip" data-bs-title="CSS" />
                            <img src="https://img.icons8.com/color/48/null/javascript--v1.png"
                                style="width: 48px; height: 48px;" data-bs-toggle="tooltip" data-bs-title="JAVASCRIPT"
                                class="bg-transparent" />
                        </p>
                    </div>
                </a>

                <a href="https://github.com/Ludwing08/AppMovilAlarm" target="_blank">
                    <div class="card card-1 bg-transparent">
                        <div class="card__icon bg-transparent"><i class="fas fa-bolt bg-transparent"></i>
                            Aplicativo móvil y de escritorio desarrollado en Android y C# respectivamente</div>
                        <p class="card__exit bg-transparent"><i class="fas fa-solid fa-arrow-right bg-transparent"></i>
                        </p>
                        <h2 class="card__title bg-transparent">Proyecto Alarma</h2>
                        <div class="card__apply bg-transparent">                            
                            <a class="card__link bg-transparent" href="#">Creado: 2022 - Jul - 07</a>
                            <div class="herramientas bg-transparent">
                                <img src="https://img.icons8.com/color/48/null/java-coffee-cup-logo--v1.png"
                                style="width: 48px; height: 48px;" data-bs-toggle="tooltip" data-bs-title="JAVA" class="bg-transparent"/>
                        <img src="https://img.icons8.com/color/48/null/c-sharp-logo.png" style="width: 48px; height: 48px;" data-bs-toggle="tooltip" data-bs-title="JAVASCRIPT" class="bg-transparent"/>
                        </div>
                    </div>
                    </div>
                </a>

            </div>

        </section>

        <div class="botones">
            <a href="https://github.com/Ludwing08" class="btn boton bg" target="_blank">Más proyectos</a>
        </div>



    </div>
</body>