@font-face {
    font-family: Thesignature;
    src: url(../../../assets/fonts/Thesignature.otf) format("opentype");
  }


*{
    background-color: aliceblue;
}

.nombre{
    width: 16ch;
    animation: typing 3s steps(40,end);
    animation-timing-function: cubic-bezier(0, 0.82, 0.165, 1);
    animation-iteration-count: infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'Thesignature';
    font-size: 55px;
    color: #13315C; 
    font-weight: 550;
}

.col{    
    display: grid;
    place-items: center;
}

@keyframes typing {
    from{
        width: 0;

    }
    
}

@keyframes blink {
    50%{
        border-color: transparent;
    }
}
